ttyper/
Code/
microsoft-edge/
microsoft-edge-dev/
systemd/
vlc/
vimgolf/
github-copilot/
enchant/
dconf/
ibus/
neofetch/
pulse/
htop/
matplotlib/
enchant/
vlc/
autostart/
configstore/
htop/
ibus/
libreoffice/
matplotlib/
OpenChemistry/
GIMP/
xfce4/
QtProject.conf
rygel.conf
wpa_supplicant-eno1.conf
mimeapps.list
thefuck/
.luarc.json
