sway
alacritty
wofi
firefox
waybar
thunar
pulseaudio
pulseaudio-utils
alsa-utils
xorg-x11-server-Xwayland
pavucontrol
light
fish
neovim
ranger
evince
grace
htop
gparted
zip
git
util-linux-user
python3-pip
gcc
gcc-c++
npm
