* {
    border: none;
    border-radius: 0;
    font-family: SauceCodePro Nerd Font, monospace;
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    padding: 5px;
    color: #313244;
    margin-right: 5px;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}

#scratchpad {
    color: #a6adc8;
    background: #1e1e2e;
    padding: 0px 8px;
    margin-left: 5px;
    margin-top: 5px;
    border: 1px solid #181825;
    border-radius: 10px;
}

#mode {
    color: #ff0000;
    background: #1e1e2e;
    padding: 0px 8px;
    margin-left: 5px;
    margin-top: 5px;
    border: 1px solid #181825;
    border-radius: 10px;
}

#custom-language,
#custom-notification,
#custom-updates,
#custom-caffeine,
#custom-weather,
#window,
#cpu,
#memory,
#keyboard-state,
#clock,
#battery,
#pulseaudio,
#backlight,
#custom-media,
#temperature,
#mpd,
#network,
#workspaces,
#tray,
#backlight {
    background: #1e1e2e;
    padding: 0px 6px;
    margin: 0px 0px;
    margin-top: 5px;
    border: 1px solid #181825;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: #1e1e2e;
    border-radius: 10px;
    margin-left: 5px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-updates {
    color: #ffd580;
    border-left: 0px;
    border-right: 0px;
}

#cpu, 
#keyboard-state,
#temperature,
#memory{
    color: #f5c2e7;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 10px;
    margin-left: 120px;
    margin-right: 120px;
}

window#waybar.empty #window {
    background: none;
    border: none;
}

#clock {
    color: #fab387;
    border-radius: 10px 0px 0px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#custom-notification {
    color: #fab387;
    border-radius: 0px 10px 10px 0px;
    padding-right: 7px;
}

#network {
    color: #f9e2af;
    border-left: 0px;
    border-right: 0px;
}

#custom-media {
    color: #f9e2af;
    border-left: 0px;
    border-right: 0px;
}

#backlight {
    color: #f9e2af;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio {
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px 0 0 10px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    margin-right: 5px;
    border-radius: 0 10px 10px 0;
}

#battery {
    color: #a6e3a1;
    border-radius: 0 10px 10px 0;
    padding-right: 12px;
    margin-right: 10px;
    border-left: 0px;
}
